<a href="/">Home</a>
<form action="/robots" method="post">
  <h4>Enter a new robot:</h4>
  <ul>Name: <input id= "name" type='text' name='robot[name]'></ul><br/>
  <ul>City: <input id= "city" type='text' name='robot[city]'/></ul><br/>
  <ul>State: <input id= "state" type='text' name='robot[state]'/></ul><br/>
  <ul>Avatar: <input id= "pic" type='text' name='robot[avatar]'/></ul><br/>
  <ul>Department: <input id= "department" type='text' name='robot[department]'/></ul><br/>
  <ul>Birthday: <input id= "birthday" type='text' name='robot[birthday]'/></ul><br/>
  <ul>Date Hired: <input id= "hired" type='text' name='robot[hired]'/></ul><br/>
  <input type='submit' value = "Create A Robot!"/>
</form>
