<a href="/">Home</a>
<form action="/robots" method="post">
  <h4>Enter a new robot:</h4>
  <ul>Name: <input type='text' name='robot[name]'></ul><br/>
  <ul>City: <input type='text' name='robot[city]'/></ul><br/>
  <ul>State: <input type='text' name='robot[state]'/></ul><br/>
  <ul>Avatar: <input type='text' name='robot[avatar]'/></ul><br/>
  <ul>Department: <input type='text' name='robot[department]'/></ul><br/>
  <ul>Birthday: <input type='text' name='robot[birthday]'/></ul><br/>
  <ul>Date Hired: <input type='text' name='robot[hired]'/></ul><br/>
  <input type='submit' value = "Create A Robot!"/>
</form>
